In [8]:
import pandas as pd
import datetime

In [2]:
df = pd.read_csv('NewYorkEdgeDatewiseAggregated.csv')

In [5]:
df['date'] =  pd.to_datetime(df['date'], format='%m/%d/%Y')

In [6]:
df.head()

        date  start_id  end_id  amount
0 2017-01-01         1       1      38
1 2017-01-01         1      37       1
2 2017-01-01         3       3       3
3 2017-01-01         3      32       1
4 2017-01-01         4       1       2

In [ ]:
df = df[df['date']>datetime.date(2017,5,31)]