In [9]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv('Chicago_Taxi_Raw.csv')

In [5]:
df.head(10)

,Trip ID,Taxi ID,Trip Start Timestamp,Trip End Timestamp,Trip Seconds,Trip Miles,Pickup Census Tract,Dropoff Census Tract,Pickup Community Area,Dropoff Community Area,...,Extras,Trip Total,Payment Type,Company,Pickup Centroid Latitude,Pickup Centroid Longitude,Pickup Centroid Location,Dropoff Centroid Latitude,Dropoff Centroid Longitude,Dropoff Centroid Location
0,27d0dc70225465775b96cffd13a5b7448822cd4d,79fda057016de7b8e48b1735b26a483986beb0bae92594...,01/01/2015 12:00:00 AM,01/01/2015 12:00:00 AM,300.0,1.3,NaN,NaN,14.0,16.0,...,1.5,7.55,Cash,NaN,41.968069,-87.721559,POINT (-87.7215590627 41.968069),41.953582,-87.723452,POINT (-87.7234523905 41.9535821253)
1,53b90815bd8bdcae5d62c1c1e95f095ef5637569,f99d866ed2543d082bef92509e7e1f435207b128304932...,01/01/2015 12:00:00 AM,01/01/2015 12:00:00 AM,0.0,0.0,NaN,NaN,6.0,6.0,...,0.0,3.25,Cash,NaN,41.944227,-87.655998,POINT (-87.6559981815 41.9442266014),41.944227,-87.655998,POINT (-87.6559981815 41.9442266014)
2,c946adf6828517346d51ead105a4167c652d808f,5243796f344a1e5abd1916c3ae67465a37aa16436c8ba4...,01/01/2015 12:00:00 AM,01/01/2015 12:15:00 AM,780.0,3.2,NaN,NaN,24.0,6.0,...,0.0,12.45,Credit Card,NaN,41.901207,-87.676356,POINT (-87.6763559892 41.9012069941),41.944227,-87.655998,POINT (-87.6559981815 41.9442266014)
3,0227cb6eb999cee5292aee0ce84cab079a93b2c1,98bf3bc39cc32e7f0d78188aa985e990aa10a7350a6194...,01/01/2015 12:00:00 AM,01/01/2015 12:00:00 AM,0.0,0.0,NaN,NaN,NaN,NaN,...,0.0,8.58,Credit Card,Chicago Elite Cab Corp. (Chicago Carriag,NaN,NaN,NaN,NaN,NaN,NaN
4,07e845ec9a307e494255cb57206d56f29d959c91,b0821d108c8b955273c503ff5a228893c2f3681c84fc9e...,01/01/2015 12:00:00 AM,01/01/2015 12:15:00 AM,780.0,6.3,NaN,NaN,NaN,NaN,...,0.0,21.45,Credit Card,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,0c3c11e219614a13fc654a9da722383a3cbe59e7,ad45277450362defccc49502ca68fed672689bb030ca3d...,01/01/2015 12:00:00 AM,01/01/2015 12:00:00 AM,480.0,0.0,NaN,NaN,NaN,NaN,...,0.0,7.45,Cash,Blue Ribbon Taxi Association Inc.,NaN,NaN,NaN,NaN,NaN,NaN
6,0e7869db8f2f5d627e293c16711fbc918adc62ed,1833edab9ed696386a8224986104fd046eaf9ea8dffb9e...,01/01/2015 12:00:00 AM,01/01/2015 12:00:00 AM,0.0,0.0,NaN,NaN,NaN,NaN,...,0.0,11.00,Credit Card,T.A.S. - Payment Only,NaN,NaN,NaN,NaN,NaN,NaN
7,0ee15ad13aa3bc39af5b1dfbf1c39d5d0cc102d9,7added4d3f37f22fbd28e2f95972c03d79890098880768...,01/01/2015 12:00:00 AM,01/01/2015 12:00:00 AM,0.0,0.0,NaN,NaN,NaN,NaN,...,0.0,5.82,Credit Card,Chicago Elite Cab Corp. (Chicago Carriag,NaN,NaN,NaN,NaN,NaN,NaN
8,12cd02c7be15d05b3623e51bfbffd7fee25adfe9,1b106798d36c2a85aa61c47ef4a331e1c3f00d159601ce...,01/01/2015 12:00:00 AM,01/01/2015 12:15:00 AM,600.0,2.7,NaN,NaN,NaN,NaN,...,0.0,8.85,Cash,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,147aeb7fda252399b1260617f7a751cbd6e7b214,aca90d4b24ec5a6d487331568152d991a3abcb2f21fabf...,01/01/2015 12:00:00 AM,01/01/2015 12:00:00 AM,0.0,0.0,NaN,NaN,NaN,NaN,...,0.0,30.00,Credit Card,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df.shape

(54968041, 23)

In [7]:
df.columns

Index(['Trip ID', 'Taxi ID', 'Trip Start Timestamp', 'Trip End Timestamp',
       'Trip Seconds', 'Trip Miles', 'Pickup Census Tract',
       'Dropoff Census Tract', 'Pickup Community Area',
       'Dropoff Community Area', 'Fare', 'Tips', 'Tolls', 'Extras',
       'Trip Total', 'Payment Type', 'Company', 'Pickup Centroid Latitude',
       'Pickup Centroid Longitude', 'Pickup Centroid Location',
       'Dropoff Centroid Latitude', 'Dropoff Centroid Longitude',
       'Dropoff Centroid  Location'],
      dtype='object')

In [8]:
df.dropna(inplace = True)

In [9]:
df.shape

(21193318, 23)

In [10]:
df = df[(df['Trip Seconds'] != 0) & (df['Trip Miles'] != 0)]

In [11]:
columns = ['Trip Start Timestamp', 'Trip End Timestamp', 'Pickup Community Area', 'Dropoff Community Area']
df = df[columns]
df.reset_index(drop = True, inplace = True)

In [12]:
df.head()

,Trip Start Timestamp,Trip End Timestamp,Pickup Community Area,Dropoff Community Area
0,01/01/2015 12:00:00 AM,01/01/2015 12:00:00 AM,8.0,8.0
1,01/01/2015 12:00:00 AM,01/01/2015 12:00:00 AM,8.0,8.0
2,01/01/2015 12:00:00 AM,01/01/2015 12:15:00 AM,6.0,8.0
3,01/01/2015 12:00:00 AM,01/01/2015 12:15:00 AM,8.0,28.0
4,01/01/2015 12:00:00 AM,01/01/2015 12:00:00 AM,8.0,8.0

In [13]:
#df.to_csv('Chicago_taxi_cleaning.csv')
df.to_csv('Chicago_taxi_cleaning.csv', index = False)

In [6]:
df = pd.read_csv('Chicago_taxi_cleaning.csv')
df.head()

,Trip Start Timestamp,Trip End Timestamp,Pickup Community Area,Dropoff Community Area
0,01/01/2015 12:00:00 AM,01/01/2015 12:00:00 AM,8.0,8.0
1,01/01/2015 12:00:00 AM,01/01/2015 12:00:00 AM,8.0,8.0
2,01/01/2015 12:00:00 AM,01/01/2015 12:15:00 AM,6.0,8.0
3,01/01/2015 12:00:00 AM,01/01/2015 12:15:00 AM,8.0,28.0
4,01/01/2015 12:00:00 AM,01/01/2015 12:00:00 AM,8.0,8.0

In [51]:
df.shape

(14919326, 4)

In [55]:
starttime = df.loc[:,'Trip Start Timestamp'].str.split(' ', expand = True)
endtime = df.loc[:,'Trip End Timestamp'].str.split(' ', expand = True)
df.loc[:,'Trip Start Timestamp'] = starttime[0]
df.loc[:,'Trip End Timestamp'] = endtime[0]

In [56]:
df.head()

,Trip Start Timestamp,Trip End Timestamp,Pickup Community Area,Dropoff Community Area
0,01/01/2015,01/01/2015,8.0,8.0
1,01/01/2015,01/01/2015,8.0,8.0
2,01/01/2015,01/01/2015,6.0,8.0
3,01/01/2015,01/01/2015,8.0,28.0
4,01/01/2015,01/01/2015,8.0,8.0

In [66]:
df.to_csv('Chicago_taxi.csv', index = False)

In [3]:
df = pd.read_csv('Chicago_taxi.csv')
df.head()

,Trip Start Timestamp,Trip End Timestamp,Pickup Community Area,Dropoff Community Area
0,01/01/2015,01/01/2015,8.0,8.0
1,01/01/2015,01/01/2015,8.0,8.0
2,01/01/2015,01/01/2015,6.0,8.0
3,01/01/2015,01/01/2015,8.0,28.0
4,01/01/2015,01/01/2015,8.0,8.0

In [4]:
df.drop('Trip End Timestamp', axis = 1, inplace = True)
df.head()

  Trip Start Timestamp  Pickup Community Area  Dropoff Community Area
0           01/01/2015                    8.0                     8.0
1           01/01/2015                    8.0                     8.0
2           01/01/2015                    6.0                     8.0
3           01/01/2015                    8.0                    28.0
4           01/01/2015                    8.0                     8.0

In [13]:
df.shape

(14919326, 3)

In [5]:
df.to_csv('Chicago_taxi.csv', index = False)

In [18]:
df.rename(columns = {'Trip Start Timestamp':'Date', 'Pickup Community Area':'PickupLocationID', 'Dropoff Community Area':'DropoffLocationID'}, inplace = True)

In [20]:
df['Count'] = np.ones(len(df['Date']))

In [21]:
df.head()

         Date  PickupLocationID  DropoffLocationID  Count
0  01/01/2015               8.0                8.0    1.0
1  01/01/2015               8.0                8.0    1.0
2  01/01/2015               6.0                8.0    1.0
3  01/01/2015               8.0               28.0    1.0
4  01/01/2015               8.0                8.0    1.0

In [22]:
#df.to_csv('Chicago_taxi.csv', index = False)

In [23]:
df = pd.read_csv('Chicago_taxi_Unaggregated.csv')
df.head()

         Date  PickupLocationID  DropoffLocationID  Count
0  01/01/2015               8.0                8.0    1.0
1  01/01/2015               8.0                8.0    1.0
2  01/01/2015               6.0                8.0    1.0
3  01/01/2015               8.0               28.0    1.0
4  01/01/2015               8.0                8.0    1.0

In [25]:
df = df.groupby(['Date', 'PickupLocationID', 'DropoffLocationID'], as_index = False).sum()

In [27]:
df.to_csv('Chicago_taxi_aggregated.csv', index = False)

In [28]:
df = pd.read_csv('Chicago_taxi_aggregated.csv')
df.head()

         Date  PickupLocationID  DropoffLocationID  Count
0  01/01/2015               1.0                1.0   11.0
1  01/01/2015               1.0                2.0    5.0
2  01/01/2015               1.0                3.0    7.0
3  01/01/2015               1.0                6.0   10.0
4  01/01/2015               1.0                8.0    7.0

In [29]:
df.shape

(170717, 4)

In [30]:
df = pd.read_csv('Chicago_taxi_Unaggregated.csv')
df.head()

         Date  PickupLocationID  DropoffLocationID  Count
0  01/01/2015               8.0                8.0    1.0
1  01/01/2015               8.0                8.0    1.0
2  01/01/2015               6.0                8.0    1.0
3  01/01/2015               8.0               28.0    1.0
4  01/01/2015               8.0                8.0    1.0